@{
    ViewData["Title"] = "Movie Collection";
}

<h1>The Joel Hilton Film Collection</h1>

<img src="~/img/JoelHiltonHeadshot.jpg" />

<div>
    <a asp-controller="Home" asp-action="MyPodcasts">Take me to My Podcast page</a>
    <br />
    <a asp-controller="Home" asp-action="MovieForm">Take me to Movie Form</a>
</div>